[submodule "textlesslib"]
	path = textlesslib
	url = git@github.com:andybi7676/textlesslib.git
[submodule "TASTE-SpokenLM"]
	path = TASTE-SpokenLM
	url = git@github.com:andybi7676/TASTE-SpokenLM.git
[submodule "src/flow-slm"]
	path = src/flow-slm
	url = https://github.com/jjery2243542/flow-slm
