[submodule "textlesslib"]
	path = textlesslib
	url = git@github.com:andybi7676/textlesslib.git
[submodule "TASTE-SpokenLM"]
	path = TASTE-SpokenLM
	url = git@github.com:andybi7676/TASTE-SpokenLM.git
[submodule "flow-slm"]
	path = flow-slm
	url = https://github.com/ArianaChase/edited_flow-slm
[submodule "moshi"]
	path = moshi
	url = https://github.com/kyutai-labs/moshi
[submodule "speechocean762"]
	path = speechocean762
	url = https://github.com/jimbozhang/speechocean762
[submodule "CosyVoice"]
	path = CosyVoice
	url = https://github.com/ArianaChase/CosyVoice
